{
  "Regions": [
    {
      "Area": "Document",
      "Size": "0, 0",
      "Groups": [
        {
          "Contents": [
            null,
            null,
            null,
            null
          ],
          "VisibleContent": null
        }
      ]
    },
    {
      "Area": "Left",
      "Size": "470, 1296",
      "Groups": [
        {
          "Contents": [
            "DockAsset"
          ],
          "VisibleContent": "DockAsset"
        }
      ]
    },
    {
      "Area": "Right",
      "Size": "648, 1296",
      "Groups": []
    },
    {
      "Area": "Bottom",
      "Size": "200, 100",
      "Groups": []
    }
  ]
}