@namespace OX.Web
@inherits LayoutComponentBase

<AntDesign.ProLayout.BasicLayout Title="@DNPHelper.GetDNPSetting()?.DNP_Name" Logo="@("/assets/ox.svg")" MenuData=WebBoxBuilder.GetMenus(this.Language) Theme=MenuTheme.Dark>
    <ChildContent>
        <CascadingValue Value="LanguageCallBack">
            @Body
        </CascadingValue>
    </ChildContent>
    <FooterRender>
        <FooterView Copyright="2023 OX Ecosystem MIT License" Links="Links"></FooterView>
    </FooterRender>
</AntDesign.ProLayout.BasicLayout>

@code{
    public EventCallback _languageCallBack = EventCallback.Empty;
    public EventCallback LanguageCallBack
    {
        get
        {
            if (_languageCallBack.Equals(EventCallback.Empty))
                _languageCallBack = EventCallback.Factory.Create(this, SetLanguage);
            return _languageCallBack;
        }
    }
    public string Language { get; set; }
 
    
    public void SetLanguage(object language)
    {
        if (language.IsNotNull())
        {
            Language = language.ToString();
        }
    }
    public LinkItem[] Links { get; set; } =
       {
        new LinkItem
        {
            Key = "OX-Eco source code",
            Title =(RenderFragment)(@<Space><Icon Type="github"></Icon><span>OX-Eco</span></Space>),
            Href = "https://github.com/ox-eco/oxchain",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "ox box source code",
            Title = (RenderFragment)(@<Space><Icon Type="github"></Icon><span>ox box</span></Space>),
            Href = "https://github.com/ox-box/wallet",
            BlankTarget = true,
        } 
    };
}

